<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" >
		<title>Booya! | The Web Extension That Keeps Your Email Private</title>
		<meta name="description" content="Booya! is a web extension that allows you to instantly create and manage email aliases, keeping your email private email, well... private.">
		<meta name="keywords" content="web extension, privacy, email, aliases, firefox">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@booya_email">
		<meta name="twitter:creator" content="@gdeflaux">
		<meta name="twitter:title" content="Booya! | The Web Extension That Keeps Your Email Private">
		<meta name="twitter:description" content="Booya! is a web extension that allows you to instantly create and manage email aliases, keeping your email private email, well... private.">
		<meta name="twitter:image" content="{{.Site.BaseURL}}/i/social-network-banner.png">

		<meta property="og:title" content="Booya! | The Web Extension That Keeps Your Email Private">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://booya.email/">
		<meta property="og:image" content="{{.Site.BaseURL}}/i/social-network-banner.png">
		<meta property="og:description" content="Booya! is a web extension that allows you to instantly create and manage email aliases, keeping your email private email, well... private.">
		<meta property="og:site_name" content="Booya! Email">
		<link rel="canonical" href="https://booya.email/">
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/i/logobooyab64.png" type="image/x-icon">
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Bungee+Shade:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
		<!-- Bootstrap 4.5.2 CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<!-- Slick 1.8.1 jQuery plugin CSS (Sliders) -->
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
		<!-- Fancybox 3 jQuery plugin CSS (Open images and video in popup) -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
		<!-- AOS 2.3.4 jQuery plugin CSS (Animations) -->
		<link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
		<!-- FontAwesome CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
		<!-- Startup CSS (Styles for all blocks) - Remove ".min" if you would edit a css code -->
		<link href="/css/style.min.css" rel="stylesheet" />
		<link href="/css/custom.css" rel="stylesheet" />
		<!-- jQuery 3.5.1 -->
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	</head>
    
    <body>
		{{ partial "mobile-nav.html" . }}
		{{ partial "nav.html" . }}
		
		{{ block "main" . }}
		{{ end }}

		{{ partial "footer.html" . }}

        <!-- Bootstrap 4.5.2 JS -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
		<!-- Fancybox 3 jQuery plugin JS (Open images and video in popup) -->
		<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
		<!-- Slick 1.8.1 jQuery plugin JS (Sliders) -->
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
		<!-- AOS 2.3.4 jQuery plugin JS (Animations) -->
		<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
		<!-- Maskedinput jQuery plugin JS (Masks for input fields) -->
		<script src="/js/jquery.maskedinput.min.js"></script>
        <script src="/js/script.js"></script>
		<script async src="https://track.ouechbien.fr/tracker.js" data-ackee-server="https://track.ouechbien.fr" data-ackee-domain-id="77bdcea8-017a-4298-813d-cd34aa080d02" data-ackee-opts='{ "ignoreLocalhost": true, "detailed": true }'></script>
    </body>
</html>