{{ define "main" }}
<section class="bg-light content_2">
    <div class="container px-xl-0 text-center">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10">
                <h2>
                    I Need Help!
                </h2>
            </div>
            <div class="col-xl-7 col-lg-9 col-md-10">
                <div class="mt-35 f-18 medium action-1 op-7 text-adaptive">
                    Here you will find answers to all your questions! Hopefully...
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-100 pb-95 bg-light content_9">
    <div class="container px-xl-0">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-11 f-22 text-adaptive">
                <ul>
                    {{ range .Pages.ByTitle}}
                        <li><a class="link color-white" href="{{ .Permalink }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark color-white text-center text-lg-left call_to_action_11">
    <div class="container px-xl-0 pt-45 pb-45">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <h6 class="f-22 regular text-adaptive f-main">
                    Can't find the answer you are looking for?
                </h6>
            </div>
            <div class="col-xl-3 col-lg-4 text-lg-right">
                <a href="{{ .Site.Params.issue_reporting_url}}" class="btn mt-30 mt-lg-0 lg action-3">
                    Open An Issue
                </a>
            </div>
        </div>
    </div>
</section>
{{ end }}

