{{ define "main" }}
<section class="pb-50 bg-light blog_5">
    <div class="container px-xl-0">
        <div class="row justify-content-center">
            <div class="col-10">
                <h3 class="mb-40 text-adaptive">
                    {{ .Title }}
                </h3>
                <div class="color-heading f-22 medium text-adaptive help">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>


    
{{ end }}