<section class="pt-30 pb-70 bg-light text-center text-lg-left feature_10">
    <div class="container px-xl-0">
        <div class="row justify-content-center justify-content-lg-between align-items-center">
            <div class="col-lg-5">
                <h2 class="mb-25 small">
                    A quick walkthrough
                </h2>
                <div class="f-22 color-heading text-adaptive">
                    This is a 2-minute walkthrough of Booya! web extension that displays setup and basic functionality. 
                </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-10 mt-30 mb-50 mt-lg-0 mb-md-0">
                <div class="relative poster">
                    <img src="i/video_splash.jpg" alt="" class="img-fluid radius10">
                    <a href="https://www.youtube.com/watch?v=c03B4-jBl_Q?rel=0&amp;showinfo=0" class="play red" data-fancybox="feature_10_fancybox">
                        <i class="fas fa-play">
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>