<section id="features" class="pt-105 pb-55 bg-light text-center feature_5">
    <div class="container px-xl-0">
        <div class="row justify-content-center">
            <div class="col-xs-10 col-lg-11">
                <h2 class="small aos-animate">
                    Simple. Awesome. Features.
                </h2>
                <div class="mt-25 mb-45 f-22 color-heading text-adaptive description aos-animate">
                    Booya! makes it super easy and convenient to create new email aliases.
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="mb-50 col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4 holder aos-animate">
                <img src="/i/thumbnailcreatealias.png" alt="" class="w-full radius10 noradius_bottom" style="border: 2px #3F3F46 solid; border-bottom: none;" srcset="/i/thumbnailcreatealias.png 2x">
                <div class="px-45 pt-40 pb-45 radius10 noradius_top block">
                    <div class="mb-20 f-14 semibold text-uppercase sp-20 title action-1">
                        Only one click away
                    </div>
                    <div class="color-heading text-adaptive">
                        Open Booya! and get your email alias in a single click. You can't get enough of it.
                    </div>
                </div>
            </div>
            <div class="mb-50 col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4 holder aos-animate">
                <img src="/i/thumbnailmultidomain.png" srcset="/i/thumbnailmultidomain.png 2x" alt="" class="w-full radius10 noradius_bottom"  style="border: 2px #3F3F46 solid; border-bottom: none;">
                <div class="px-45 pt-40 pb-45 radius10 noradius_top block">
                    <div class="mb-20 f-14 semibold text-uppercase sp-20 title action-3">
                        Multiple Domains
                    </div>
                    <div class="color-heading text-adaptive">
                        Got domains?! Feel free to choose the most appropriate one for the situation. There's no limit.
                    </div>
                </div>
            </div>
            <div class="mb-50 col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4 holder aos-animate">
                <img src="/i/thumbnailcontextmenu.png" srcset="/i/thumbnailcontextmenu.png 2x" alt="" class="w-full radius10 noradius_bottom"  style="border: 2px #3F3F46 solid; border-bottom: none;">
                <div class="px-45 pt-40 pb-45 radius10 noradius_top block">
                    <div class="mb-20 f-14 semibold text-uppercase sp-20 title action-2">
                        Works in forms too
                    </div>
                    <div class="color-heading text-adaptive">
                        Just right-click on any text field and Booya!, you got a fresh new email alias pasted in there for free.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
