<footer class="pt-55 pb-55 bg-light lh-40 text-center footer_7">
    <div class="container px-xl-0">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5 col-md-auto text-md-right text-lg-left order-2 order-lg-1 aos-animate">
                <a href="{{ .Site.Params.author.linkedin }}" class="link f-14 semibold text-uppercase sp-20 mr-15 action-1" target="_blank">
                    © {{ .Site.Params.author.name }}
                </a>
                <a href="{{ .Site.Params.ouechbien_url }}" class="link f-14 semibold text-uppercase sp-20 color-main mr-15" target="_blank">
                    OuechBien Collective
                </a>
            </div>
            <div class="mb-20 mb-lg-0 col-lg-2 order-0 order-lg-1">
                <a class="link" href="{{ .Site.BaseURL }}">
                    <img src="/i/logobooyab1024.png" alt="Logo" class="img-fluid h-90 aos-animate" srcset="/i/logobooyab1024.png 2x">
                </a>
            </div>
            <div class="col-lg-5 col-md-auto text-md-left text-lg-right order-1 order-lg-2 aos-animate">
                <a href="{{ .Site.Params.repository_url }}" class="link f-14 semibold text-uppercase sp-20 ml-15 action-2" target="_blank">
                    This is open source software
                </a>
                <span class="socials">
                    <a href="{{ .Site.Params.repository_url }}" class="f-18 semibold text-uppercase sp-20 link mx-15 mr-lg-0" target="_blank">
                        <i class="fab fa-gitlab action-2">
                        </i>
                    </a>
                    <a href="{{ .Site.Params.youtube_url }}" class="f-18 semibold text-uppercase sp-20 link mx-15 mr-lg-0" target="_blank">
                        <i class="fab fa-youtube action-2">
                        </i>
                    </a>
                    <a href="{{ .Site.Params.twitter_url }}" class="f-18 semibold text-uppercase sp-20 link mx-15 mr-lg-0" target="_blank">
                        <i class="fab fa-twitter color-twitter">
                        </i>
                    </a>
                </span>
            </div>
        </div>
    </div>
</footer>
