<section id="get-involved" class="pt-80 pb-140 bg-light text-center call_to_action_10">
    <div class="container px-xl-0">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10">
                <h2 class="mt-10 mb-30 small">
                    Get Involved!
                </h2>
            </div>
            <div class="mt-30 col-xl-7 col-lg-8 col-md-9 col-sm-10 f-22 color-heading text-center">
                We'd love to hear from you.
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 block mt-40">
                <i class="f-62 fab fa-gitlab action-1">
                </i>
                <div class="mt-25 mb-25 f-22 color-heading title">
                    Repository
                </div>
                <a href="https://gitlab.com/booya-email/booya-web-ext" class="btn action-2">
                    Fork It
                </a>
            </div>
            <div class="col-lg-3 col-md-4 block mt-40">
                <i class="f-62 fas fa-road action-1">
                </i>
                <div class="mt-25 mb-25 f-22 color-heading title">
                    Roadmap
                </div>
                <a href="https://gitlab.com/booya-email/booya-web-ext/-/boards" class="btn action-2">
                    Check It Out
                </a>
            </div>
            <div class="col-lg-3 col-md-4 block mt-40">
                <i class="f-62 fas fa-bug action-1">
                </i>
                <div class="mt-25 mb-25 f-22 color-heading title">
                    Question? Bug?
                </div>
                <a href="{{ .Site.Params.issue_reporting_url}}" class="btn action-2">
                    Report An Issue
                </a>
            </div>
        </div>
    </div>
</section>
