<section id="get-started" class="pt-105 pb-100 bg-light content_20">
    <div class="container px-xl-0">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-11">
                <h2 class="small aos-animate">
                    Get started in no time!
                </h2>
                <div class="row">
                    <div class="mt-25 col-lg-10 inner">
                        <div class="pb-50 relative block">
                            <div class="content_20_line">
                            </div>
                            <div class="bg-gray color-heading radius_full w-40 h-40 f-18 medium lh-40 text-center number">
                                1
                            </div>
                            <div class="ml-70 pt-10 block_inner aos-animate">
                                <div class="f-18 action-1 text-uppercase bold">
                                    Get a domain  Gandi.net
                                </div>
                                <div class="mt-20 color-heading text-adaptive">
                                    Why <a href="https://gandi.net" target="_blank">Gandi.net</a>? Because you can get cheap domains and because they have that awesome forward email address feature (that's what we call email aliases).
                                </div>
                            </div>
                        </div>
                        <div class="pb-50 relative block">
                            <div class="content_20_line">
                            </div>
                            <div class="bg-gray color-heading radius_full w-40 h-40 f-18 medium lh-40 text-center number">
                                2
                            </div>
                            <div class="ml-70 pt-10 block_inner aos-animate">
                                <div class="f-18 action-1 bold text-uppercase">
                                    Generate an API Key
                                </div>
                                <div class="mt-20 color-heading text-adaptive">
                                    <div>
                                        The <a href="https://docs.gandi.net/en/domain_names/advanced_users/api.html" target="_blank">API Key</a> will allow Booya! to create email aliases from your browser in a secure way.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pb-50 relative block">
                            <div class="content_20_line">
                            </div>
                            <div class="bg-gray color-heading radius_full w-40 h-40 f-18 medium lh-40 text-center number">
                                3
                            </div>
                            <div class="ml-70 pt-10 block_inner aos-animate">
                                <div class="f-18 action-1 text-uppercase bold">
                                    Install Booya!
                                </div>
                                <div class="mt-20 color-heading text-adaptive">
                                    <div>
                                        Just head over to the Firefox Addon library and install Booya! in a few seconds.
                                    </div>
                                    <a href="https://addons.mozilla.org/en-US/firefox/addon/booya/" class="btn mt-20 action-2">
                                        Download
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="pb-50 relative block">
                            <div class="bg-gray color-heading radius_full w-40 h-40 f-18 medium lh-40 text-center number">
                                4
                            </div>
                            <div class="ml-70 pt-10 block_inner aos-animate">
                                <div class="f-18 action-1 bold text-uppercase">
                                    Setup Booya!
                                </div>
                                <div class="mt-20 color-heading text-adaptive">
                                    <div>
                                        Configuring Booya! is super easy. The <a href="{{ ref . "/help/how-to-settings.md" }}">dedicated help page</a> explains how get up an running in 3 minutes.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
