<div class="pb-120 bg-light header_9">
    <div class="container mw-970 px-xl-0 text-center text-lg-left">
        <div class="mb-3 d-xl-none">
            <a href="#" class="link img_link">
                <img src="/i/logobooya512.png" alt="Logo" class="img-fluid aos-animate" srcset="/i/logobooya512.png 2x">
            </a>
        </div>
        <div class="row flex-column-reverse flex-lg-row justify-content-lg-between align-items-center">
            <div class="col-lg-6 col-md-7 col-sm-8 pt-20 left">
                <h1 class="aos-animate">
                    An extension of privacy
                </h1>
                <div class="mt-15 f-18 medium text-adaptive color-white aos-animate">
                    Booya! is a Web Extension that allows you to create instant email aliases keeping your private email, well..., private.
                </div>
                <span class="aos-animate">
                    <a href="#get-started" class="btn mt-50 lg action-2">
                        Get Started!
                    </a>
                </span>
            </div>
            <div class="col-lg-6 col-md-7 col-sm-8">
                <div class="row justify-content-center">
                    <div class="col-6 col-lg-12 aos-animate">
                        <img src="/i/logobooyab1024.png" srcset="/i/logobooyab1024.png 2x" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

