<a href="#" class="open_menu bg-light radius_full">
		<i class="fas fa-bars lh-40">
		</i>
	</a>
	<div class="navigation_mobile bg-dark type1">
		<a href="#" class="close_menu color-white">
			<i class="fas fa-times">
			</i>
		</a>
		<div class="px-40 pt-60 pb-60 inner">
			<div class="mb-20">
				<h1><a class="color-white" href="{{ .Site.BaseURL }}" >Booya!</a></h1>
			</div>
			<div>
				<a href="{{ .Site.BaseURL }}#features" class="f-22 link color-white mb-20">
					Features
				</a>
			</div>
			<div>
				<a href="{{ .Site.BaseURL }}#get-involved" class="f-22 link color-white mb-20">
					Get Involved
				</a>
			</div>
			<div>
				<a href="{{ .Site.BaseURL }}/help" class="f-22 link color-white mb-20">
					Help
				</a>
			</div>
			<div>
				<a href="{{ .Site.BaseURL }}#get-started" class="f-22 link color-white mb-20">
					Get Started
				</a>
			</div>
			<div class="socials mt-40">
				<a href="{{ .Site.Params.repository_url }}" target="_blank" class="link color-white f-18 mr-20">
					<i class="fab fa-gitlab"></i>
				</a>
				<a href="{{ .Site.Params.youtube_url }}" target="_blank" class="link color-white f-18 mr-20">
					<i class="fab fa-youtube"></i>
				</a>
				<a href="{{ .Site.Params.twitter_url }}" target="_blank" class="link color-white f-18 mr-20">
					<i class="fab fa-twitter"></i>
				</a>
			</div>

			<div class="mt-50 f-14">
				<a class="link f-14 semibold text-uppercase sp-20 mr-15 color-white" href="{{ .Site.Params.author.linkedin }}">© {{ .Site.Params.author.name }}.</a>
				<a href="{{ .Site.Params.ouechbien_url }}" class="link f-14 semibold text-uppercase sp-20 mr-15 color-white">Ouechbien Collective.</a>.
			</div>
		</div>
	</div>
