<header class="pt-210 bg-light header_9">
    <nav class="header_menu_9 pt-30 pb-30 mt-50">
        <div class="container mw-970 px-xl-0">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-3">
                    <a href="{{ .Site.BaseURL }}" class="link img_link">
                        <img src="/i/logobooya512.png" alt="Logo" class="img-fluid aos-animate" srcset="/i/logobooya512.png 2x">
                    </a>
                </div>
                <div class="col-lg-9 d-flex align-items-center justify-content-end f-18 medium aos-animate">
                    <a href="{{ .Site.BaseURL }}#features" class="link mx-20 action-2">
                        Features
                    </a>
                    <a href="{{ .Site.BaseURL }}#get-involved" class="link mx-20 action-1">
                        Get Involved
                    </a>
                    <a href="{{ .Site.BaseURL }}/help" class="link mx-20 color-main">
                        Help
                    </a>
                    <a href="{{ .Site.BaseURL }}#get-started" class="btn ml-20 action-3">
                        Get Started!
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>